html
    head 
        title Imenik
        link(rel="stylesheet" type="text/css" href="/stil.css")
        script(src="tabela.js" defer) 
    body
        table  
            tr
                th Ime
                th Prezime
                th Adresa
                th Broj telefona
                th(colspan="2")
            each red_tabele in podaci
                tr
                    td(onclick=`window.location.href="/poznanik/${red_tabele.id}"`) #{red_tabele.ime}
                    td #{red_tabele.prezime}
                    td #{red_tabele.adresa}
                    td #{red_tabele.brojTelefona}
                    td 
                        button(onclick = `window.location.href="/edit/${red_tabele.id}"`) Edit
                    td 
                        button(onclick=`deleteKontakt(${red_tabele.id})`) Delete